<!-- settings partials -->
<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <h1>Réglages</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Serveur</h2>
    <hr>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <form action="#">
      <div class="form-group">
        <label></label>
        <input type="text" class="form-control" ng-model="settings.server" placeholder=""></input>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"> Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Youtube</h2>
    <hr>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <form action="#">
      <div class="form-group">
        <label>Client Id</label>
        <input type="text" class="form-control" ng-model="settings.youtube.client_id" placeholder="Entrez l'identifiant client"></input>
        <p class="help-block">A récupérer dans la  <a href="https://console.developers.google.com">console developpeur</a> de google</p>
      </div>
      <div class="form-group">
        <label>Client Secret</label>
        <input type="text" class="form-control" ng-model="settings.youtube.client_secret" placeholder="Entrez la clef secrète"></input>
        <p class="help-block">A récupérer dans la  <a href="https://console.developers.google.com">console developpeur</a> de google</p>
      </div>
      <div class="form-group">
        <label>Credentials</label>
        <textarea rows="4" class="form-control" ng-model="settings.youtube.credentials" placeholder="Copiez le contenu du fichier ici"></textarea>
        <p class="help-block">Ce fichier ce trouve à la racine du dossier du serveur</p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"> Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Base de données</h2>
    <hr>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <form action="#">
      <div class="form-group">
        <label>Importer JSON</label>
        <textarea rows="4" class="form-control" ng-model="settings.database_import" placeholder="Copiez le contenu du fichier ici"></textarea>
        <p class="help-block ">Ce fichier ce trouve dans le dossier lib/db du serveur</p>
      </div>
      <div class="checkbox">
        <label class="bg-danger">
          <input type="checkbox" ng-model="settings.database_overwrite"> Remplacer la base existante?</input>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"> Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
